*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}
.stopwatch{
    height: 60vh;
    width: 50%;
    background-color: rgb(131, 186, 202);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 5vh;
}
h1{
    font-size: 6vw;
    height: 30vh;
    width: 100%;
    background-color: rgb(248, 185, 103);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    border-radius: 5vh;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    gap: 2vw;
}
.laptime{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
}
button{
    padding: 2vh 3vw;
    border: none;
    border-radius: 50vh;
    font-size: 1.5vw;
    font-weight: 400;
    cursor: pointer;
}

/*Responsive code */

@media (max-width:600px) {
    body{
        margin-top: 10vh;
    }
    .stopwatch{
        height: 80vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1{ 
        font-size: 6vh;
        height: 25vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5vh;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5vh;
        margin-bottom: 20px;
    }
    button{
        font-size: 1.5vh;
    }
    .laptime{
        font-size: 3vh;
    }
}